body{
margin:0;
font-family:Arial;
background:#f2f2f2;
}

.header{
display:flex;
justify-content:space-between;
padding:15px;
background:white;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.logo{
font-size:22px;
font-weight:bold;
color:#ff3d3d;
}

.notice{
background:#eee;
padding:8px;
font-size:13px;
}

.banner img{
width:100%;
}

.wallet{
background:white;
margin:10px;
padding:15px;
border-radius:10px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.deposit{
background:#ffa500;
border:none;
padding:10px;
border-radius:6px;
color:white;
}

.withdraw{
background:#ff3d3d;
border:none;
padding:10px;
border-radius:6px;
color:white;
}

.games{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:10px;
}

.game{
background:white;
padding:15px;
border-radius:10px;
text-align:center;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.game img{
width:80px;
border-radius:10px;
}

.bottom{
position:fixed;
bottom:0;
width:100%;
background:white;
display:flex;
justify-content:space-around;
padding:10px 0;
box-shadow:0 -2px 8px rgba(0,0,0,0.1);
}

.bottom div{
text-align:center;
font-size:12px;
}
