body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.topbar{
background:#1e293b;
text-align:center;
padding:15px;
font-size:20px;
}

.warning{
background:#dc2626;
padding:6px;
text-align:center;
font-size:12px;
}

.winner{
background:#111827;
padding:8px;
}

.wallet{
display:flex;
gap:10px;
padding:10px;
}

.box{
flex:1;
background:#1f2937;
padding:10px;
border-radius:10px;
text-align:center;
}

.green{
background:#16a34a;
}

.red{
background:#dc2626;
}

.section{
padding-left:10px;
}

.games{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:10px;
}

.game{
height:120px;
border-radius:12px;
display:flex;
align-items:flex-end;
padding:10px;
font-weight:bold;
}

.g1{
background:linear-gradient(45deg,#22c55e,#4ade80);
}

.g2{
background:linear-gradient(45deg,#9333ea,#c084fc);
}

.g3{
background:linear-gradient(45deg,#2563eb,#60a5fa);
}

.g4{
background:linear-gradient(45deg,#f59e0b,#fbbf24);
}

.bottom{
position:fixed;
bottom:0;
width:100%;
background:#1e293b;
display:flex;
justify-content:space-around;
padding:10px;
font-size:12px;
}
